body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #eee;
}

h1 {
  color: darkblue;
}

div {
  margin-bottom: 30px;
  padding: 10px;
  background: white;
  border-radius: 5px;
}

button {
  margin-top: 10px;
}
